@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');




*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
 }


:root{
    --cor1: #EC8E9B;
    --cor2: #5F7063;
    --cor3: #F0F0F0;
    --cor4: #FF0000;

    --fonte-padrão: "Inter", sans-serif;
    --fonte-título-destaque: "Lato", sans-serif;
}

.carousel-item img {
    max-width: 100%; /* Ensures images don't exceed container width */
    height: 500px; /* Set the default height for larger screens */
}

/* Adjust height for small screens using media query */
@media (max-width: 767px) {
    .carousel-item img{
        height: 130px !important;
    }
}

.nav-item > a{
    color: black;
    text-decoration: none;
}

.container-fluid{
    background-color: var(--cor3);
}

header a{
    font-family: var(--fonte-padrão);
}

.dropdown-item{
    color: var(--cor2);
}

.dropdown-item:hover{
    color: var(--cor1);
}

.navbar-toggler{
    border: none;
    outline: none;
}

.card{
    margin-top: 35px;
    width: 290px;
    position: relative;
    border: none;
}

.card-body{
    padding-right: 0px;   
}

.span-inicial-1{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    position: absolute;
    top: 13px;
    left: 70px;
}

.span-final-1{
    font-family: var(--fonte-padrão);
    font-size: 12px;
    white-space: pre-line;
    position: absolute;
    top: 38px;
    left: 69px;
}

.span-inicial-2{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    position: absolute;
    top: 20px;
    left: 70px;
}

.span-final-2{
    font-family: var(--fonte-padrão);
    font-size: 12px;
    position: absolute;
    top: 43px;
    left: 69px;
}

.span-inicial-3{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    position: absolute;
    top: 18px;
    left: 73px;
}

.span-final-3{
    font-family: var(--fonte-padrão);
    font-size: 12px;
    position: absolute;
    top: 41px;
    left: 72px;
}

.span-inicial-4{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    position: absolute;
    top: 0px;
    left: 70px;
}

.span-final-4{
    font-family: var(--fonte-padrão);
    font-size: 12px;
    position: absolute;
    top: 45px;
    left: 70px
}

.row{
    margin: 0px;
    outline: 0px;
}

.img-zoom {
    transition: transform 0.4s; 
}

.img-zoom:hover {
    transform: scale(1.05); 
}

.card-img-top{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3 ease;
}

.card-img-top:hover{
    opacity: 1;
}

.tc-container{
    position: relative;
}

.tc-container > img{
    width: 100%;
    height: 100%;
}

.card-img-top{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: all 0.5s ease;
}

.card-img-top:hover{
    opacity: 1;
}

h1{
    font-family: var(--fonte-título-destaque);
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
    font-size: 28px;
}

h5{
    font-family: var(--fonte-padrão);
    font-weight: 500;
    font-size: 15px;
}

del{
    font-size: 12px;
    font-family: var(--fonte-padrão);
}

strong{
    font-size: 13px;
    font-family: var(--fonte-padrão);
}

span{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    font-weight: 500;
}

.body-card{
    position: relative;
}

.strong-meio{
    position: absolute;
    top: 66px;
    left: 68px;
}

.strong-meio-vr{
    position: absolute;
    top: 333px;
    left: 80px; 
}

.strong-meio-vv{
    position: absolute;
    top: 66px;
    left: 66px; 
}

.p-4{
    background-color: var(--cor1);
}

.w-100{
    background-color: var(--cor2);
    color: white;
}

.w-100:hover{
    background-color: #747974;
    color: white;
}

.lista-vip{
    margin-top: 0px;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-weight: 500;
}

.special-link{
    color: blue;
}

.special-link:hover{
   color: rgb(35, 35, 231);
}

.ofertas-exclusivas{
    font-weight: 700;
    color: var(--cor2);
    font-family: var(--fonte-padrão);
    font-size: 18px;
}

.form-p{
    font-family: var(--fonte-padrão);
    font-weight: 400;
}

.text-body-secondary{
    color: white;
}

.siga-nos{
    font-family: var(--fonte-padrão);
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.instagram{
    font-family: var(--fonte-padrão);
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

.facebook-icon{
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 40%;
}

.facebook-icon:hover{
    background-color: #e18b97;
    color: var(--cor2);
}

.instagram-icon{
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 40%;
}

.instagram-icon:hover{
    background-color: #e18b97;
    color: var(--cor2);
}

.twitter-icon{
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 40%;
}

.twitter-icon:hover{
    background-color: #e18b97;
    color: var(--cor2);
}

.p-footer{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    text-align: justify;
}

.h5-footer{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    font-weight: 600;
}

.mensagem-final{
    background-color: var(--cor2);
}

.mensagem-final > p{
    text-align: center;
    font-family: var(--fonte-padrão);
    color: white;
    padding: 10px;
}

.mensagem-final a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.carousel-item img {
    max-width: 100%; /* Garante que as imagens não excedam a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}