@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 100px;
}

:root{
    --cor1: #EC8E9B;
    --cor2: #5F7063;
    --cor3: #F0F0F0;
    --cor4: #FF0000;

    --fonte-padrão: "Inter", sans-serif;
    --fonte-título-destaque: "Lato", sans-serif;
}

/* Estilo para o corpo da página */
body {
    font-family: var(--fonte-padrão);
}

.barra-pesquisa input{
    outline: none;
}

.barra-pesquisa{
    border-radius: 10px;
}

body.sticky-header-padding {
    padding-top: 65px; /* Ajuste conforme necessário para evitar sobreposição de conteúdo */
}

/* Estilo para o cabeçalho (header) */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 4px;
    background-color: var(--cor3)
}

/* Estilo para a barra de navegação (container) */
.container-logo {
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center; /* Centraliza verticalmente os elementos na barra de navegação */
}

/* Estilo para o logo */
.logo img {
    max-width: 250px; /* Largura máxima do logo */
    margin-left: 80px;
}

/* Estilo para a barra de pesquisa */
.barra-pesquisa {
    margin: 0 auto; /* Centraliza a barra de pesquisa horizontalmente */
    text-align: center; /* Centraliza o texto dentro da barra de pesquisa */
    outline: 1px solid black;
}

/* Estilo para o formulário de pesquisa */
form {
    display: flex;
    align-items: center;
}

/* Estilo para o campo de pesquisa */
input[type="text"] {
    width: 350px; /* Largura da barra de pesquisa */
    height: 40px; /* Altura da barra de pesquisa */
    padding: 8px;
    border: none;
}

/* Estilo para o botão de pesquisa */
button {
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para "Minha Conta" e "Meu Carrinho" */
.meu-carrinho {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Margem à esquerda */
    margin-right: 80px; /* Margem à direita */
}

.minha-conta{
    display: flex;
    align-items: center;
    margin-left: 20px; /* Margem à esquerda */

}

.minha-conta i, .meu-carrinho i {
    margin-right: 8px; /* Espaçamento à direita do ícone */
    font-size: 1.2em; /* Tamanho do ícone (ajuste conforme necessário) */
}

.a-header{
    color: var(--cor2);
    text-decoration: none;
}




/*navegação*/

nav {
    background-color: var(--cor1); /* Cor de fundo do menu de navegação */
    padding: 10px 0px; /* Espaçamento interno no menu de navegação */
    padding-bottom: 2px;
    margin-bottom: 0;
}

/* Estilo para a lista do menu de navegação */
nav ul {
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: space-around; /* Distribui os itens horizontalmente */
}

.ofertas{
    color: var(--cor4);
}

.ofertas:hover{
    color: white;
}

/* Estilo para os itens da lista do menu de navegação */
nav ul li {
    color: white; /* Cor do texto nos itens do menu de navegação */
    position: relative; /* Permite posicionar os subitens relativamente a este item */
    cursor: pointer; /* Altera o cursor para indicar que é interativo */
    line-height: 55px;
}

/* Estilo para o menu dropdown */
nav ul li ul {
    display: none; /* Oculta o menu dropdown por padrão */
    position: absolute; /* Posiciona o menu dropdown absolutamente em relação ao item pai */
    top: 100%; /* Alinha o topo do menu dropdown com a parte inferior do item pai */
    width: 200px; /* Largura do menu dropdown */
    background-color: var(--cor1); /* Cor de fundo rosa */
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

/* Estilo para os itens do menu dropdown */
nav ul li ul li {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 3px 0; /* Adiciona margem superior e inferior entre os itens do dropdown */
    border-bottom: 1px solid #fff; /* Adiciona linha horizontal entre os itens do dropdown */
    padding-top: 10px; /* Adiciona espaçamento superior aos itens do dropdown */
    padding-bottom: 10px;
}

nav ul li ul li:hover{
    text-decoration: underline;
}

.sem-linha{
    border-bottom: none;
}

/* Exibe o menu dropdown quando o item pai é hover */
nav ul li:hover ul {
    display: block;
}

/* Adiciona uma linha separadora entre os itens */
nav ul li:not(:last-child):after {
    margin: 0 10px; /* Margem à direita e à esquerda do separador */
}

li > a{
    text-decoration: none;
    color: white;
}


/*Início da  imagem*/

.imagem {
    margin-top: 0px;
    text-align: center;
}

.imagem > img{
    width: 100%;
    height: 360px;
}
/*Fim da Imagem*/

/*Início dos ícones e seus respectivos textinhos*/


.alinhamento{
    display: inline-block;
    position: relative;
    margin-right: 25px; 
    margin-top: 35px;
    text-align: center; /* Adicionado para centralizar os elementos na página */
}

span{
    font-family: var(--fonte-padrão);
    font-weight: 400;
    margin-left: 15px;
    font-size: 16px;
    vertical-align: top; /* Adicionado para alinhar o texto à parte superior do ícone */
}

.fa-arrows-spin, .fa-credit-card, .fa-truck, .fa-motorcycle{
    font-size: 2.3em;
}

.big-text{
    margin-bottom: 20px;
}

.small-text{
    font-family: var(--fonte-padrão);
    font-weight: 280;
    font-size: 13px;
    padding-bottom: 80px; 
    line-height: 0px;
}


.semi-image{
    min-width: 300px;
    margin-left: 25px;
}



  /* Seção da imagens que se movem - apresentação*/

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  .image-row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0; 
  }
  .image-column {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    height: 600px;
  }
  .image-column img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease; 
  }
  .image-column:hover img {
    transform: scale(1.1); 
  }

  h1{
    text-align: center;
    font-family: var(--fonte-título-destaque);
    font-size: 28px;
    font-weight: 300;
    margin-top: 30px;
  }

  .tc-container{
    display: inline-block;
    width: 300px;
    height: 532px;
    margin-top: 20px;
    margin-bottom: 100px;
    position: relative;
    margin-left: 27px;
  }

  .tc-container img{
    width: 100%;
    height: 100%;
  }

  .top-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3 ease;
  }

  .top-img:hover{
    opacity: 1;
  }

  .primeiro-parágrafo{
    font-family: var(--fonte-padrão);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }

  .segundo-parágrafo{
    font-family: var(--fonte-padrão);
    font-size: 13px;
    text-align: center;
    font-weight: 400;
  }

  .container-texto1 {
    position: relative;
    font-family: var(--fonte-padrão);
  }
  
  .texto-block1 {
    position: absolute;
    background-color: var(--cor2);
    bottom: 500px;
    right: 220px;
    color: var(--cor3);
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-texto3{
    position: relative;
    font-family: var(--fonte-padrão);
    height: 536px;
  }
 
.texto-block3{
    position: absolute;
    background-color: var(--cor2);
    bottom: 506px;
    right: 220px;
    color: var(--cor3);
    padding-left: 5px;
    padding-right: 5px; 
}

strong{
    font-size: 13px;
}

del{
    font-family: var(--fonte-padrão);
    font-size: 12px;
}

.sustentabilidade{
     width: 600px;
     margin-left: 57px;
     height: 235px;
     transition: transform 0.3s ease;
}

.inovção{
    width: 600px;
    height: 235px;
    margin-left: 25px;
    transition: transform 0.3s ease;
}

.sustentabilidade:hover{
    transform: scale(1.01); 
}

.inovção:hover{
    transform: scale(1.01); 
}

.mais-vendidos{
    display: inline-block;
    width: 300px;
    height: 540px;
    margin-top: 20px;
    margin-bottom: 100px;
    position: relative;
    margin-left: 27px;
}

.mais-vendidos img{
    width: 100%;
    height: 100%;
}

.container-texto-imagem{
    position: relative;
    font-family: var(--fonte-padrão);
    height: 536px;
}

.textinho-2{
    position: absolute;
    background-color: var(--cor2);
    bottom: 506px;
    right: 220px;
    color: var(--cor3);
    padding-left: 5px;
    padding-right: 5px; 
}

.container-texto-imagem2{
    position: relative;
    font-family: var(--fonte-padrão);
}

.textinho-2{
    position: absolute;
    background-color: var(--cor2);
    bottom: 500px;
    right: 220px;
    color: var(--cor3);
    padding-left: 5px;
    padding-right: 5px;
}

.container-texto-imagem3{
    position: relative;
    font-family: var(--fonte-padrão);
}

.textinho-3{
    position: absolute;
    background-color: var(--cor2);
    bottom: 500px;
    right: 220px;
    color: var(--cor3);
    padding-left: 5px;
    padding-right: 5px;
}

.lista-vip{
    background-color: var(--cor1);
    max-width: 1300px;
    min-width: 260px;
    height: 200px;
    margin: 50px auto 50px auto;
    padding: 55px;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.252);
}

.VIP{
    font-family: var(--fonte-padrão);
    font-size: 23px;
    position: absolute;
    top: 35%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.exclusivas{
    font-family: var(--fonte-padrão);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 15%;
    transform: translate(-50%, -50%);
    line-height: 25px;
    
}

.ofertas-exclusivas{
    font-family: var(--fonte-padrão);
    font-size: 18px;
    position: absolute;
    top: 76%;
    left: 29%;
    transform: translate(-20%, -50%);
    color: #444d46;
}

.barra-nome {
    width: 300px;
    position: absolute;
    top: 45%;
    left: 44%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.input-nome[type="text"] {
    width: 350px; /* Largura da barra de pesquisa */
    height: 50px; /* Altura da barra de pesquisa */
    padding: 8px;
    border: none;
}

.barra-email{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(30%, 30%);
    border-radius: 10px;
}

.email[type="text"]{
    width: 350px; 
    height: 50px; 
    padding: 8px;
    border: none;
}

.cadastrar{
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: var(--cor2);
    top: 45%;
    left: 89%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.cadastrar:hover{
    background-color: #747b76;
    transition: 1s;
}

.cadastrar > p{
    color: var(--cor3);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista-vip input{
    border-radius: 10px;
    outline: none;
}

h2{
    font-family: var(--fonte-padrão);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#instargram{
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 25px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 10px;
}

.fotos div{
    display: inline-block;
    margin: 0px 2px 40px 0px;
}

.coleção-crescer  img{
    width: 210px;
    height: 210px;
    margin-left: 30px;
}

.dica-tine  img{
    width: 210px;
    height: 210px;
}

.gemias-tine  img{
    width: 210px;
    height: 210px;
}

.cristine-paulo-heloísa  img{
    width: 210px;
    height: 210px;
}

.cristine-ursinho-verde  img{
    width: 210px;
    height: 210px; 
}

.cristine-ursinho-vermelho  img{
    width: 210px;
    height: 210px; 
}

footer{
    background-color: var(--cor3);
    margin-top: 50px;
    padding-top: 20px;
    height: 400px;
    list-style: none;
    position: relative;
}

.paragrafo-footer-logo{
    margin-left: 25px;
    font-family: var(--fonte-padrão);
    font-size: 13px;
    font-weight: 400;
}

.container-logo img{
    margin-left: 25px;
}

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--cor1);
    margin: 16px 6px 0px 0px;
    text-align: center;
    border-radius: 50%;
    color: var(--cor2);
    transition: all 0.5s ease;
    padding: 10px;

}

.links-footer{
    color: black;
    text-decoration: none;
}

.links-footer:hover{
    text-decoration: underline;
}

.institucional{
    position: absolute;
    top: 80px;
    left: 30%;
    transform: translate(-50%, -50%);
    line-height: 2.5em;
}

h3{
    font-size: 20px;
    font-family: var(--fonte-padrão);
    font-weight: 500;
}

.listas-footer{
    font-family: var(--fonte-padrão);
    font-weight: 400;
    font-size: 15px;
    list-style-type: none;
}

.minha-conta-2{
    position: absolute;
    top: 120px;
    left: 41%;
    transform: translate(-50%, -50%);
    line-height: 2.5em;
}

.ajuda-suporte{
    position: absolute;
    top: 121px;
    left: 54%;
    transform: translate(-50%, -50%);
    line-height: 2.5em;
}

.contato{
    position: absolute;
    top: 141px;
    left: 72%;
    transform: translate(-50%, -50%);
    line-height: 2.5em;
}

.pagamento-formas{
    position: absolute;
    top: 49px;
    left: 75%;
}

.ltda{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mensagem-final{
    position: absolute;
    background-color: var(--cor2);
    width: 100%;
    font-family: var(--fonte-padrão);
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
    text-align: center;
    color: white;
    height: 45px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.github-asael{
    text-decoration: none;
    font-weight: 700;
    color: white;
}